<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czz.hwy.bean.manager.ArticleTypesManageMapper" >
  <resultMap id="BaseResultMap" type="com.czz.hwy.bean.manager.ArticleTypesManage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="article_type" property="articleType" jdbcType="INTEGER" />
    <result column="article_name" property="articleName" jdbcType="VARCHAR" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
    <result column="article_number" property="articleNumber" jdbcType="INTEGER" />
  </resultMap>
<!--   <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, article_type, article_name, create_at, update_at, article_number
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="tsr.or.model.ArticleTypesManageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from articletypesmanage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from articletypesmanage
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from articletypesmanage
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="tsr.or.model.ArticleTypesManageExample" >
    delete from articletypesmanage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="tsr.or.model.ArticleTypesManage" >
    insert into articletypesmanage (id, article_type, article_name, 
      create_at, update_at, article_number
      )
    values (#{id,jdbcType=INTEGER}, #{articleType,jdbcType=INTEGER}, #{articleName,jdbcType=VARCHAR}, 
      #{createAt,jdbcType=TIMESTAMP}, #{updateAt,jdbcType=TIMESTAMP}, #{articleNumber,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="tsr.or.model.ArticleTypesManage" >
    insert into articletypesmanage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="articleType != null" >
        article_type,
      </if>
      <if test="articleName != null" >
        article_name,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="updateAt != null" >
        update_at,
      </if>
      <if test="articleNumber != null" >
        article_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="articleType != null" >
        #{articleType,jdbcType=INTEGER},
      </if>
      <if test="articleName != null" >
        #{articleName,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="articleNumber != null" >
        #{articleNumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="tsr.or.model.ArticleTypesManageExample" resultType="java.lang.Integer" >
    select count(*) from articletypesmanage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update articletypesmanage
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.articleType != null" >
        article_type = #{record.articleType,jdbcType=INTEGER},
      </if>
      <if test="record.articleName != null" >
        article_name = #{record.articleName,jdbcType=VARCHAR},
      </if>
      <if test="record.createAt != null" >
        create_at = #{record.createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateAt != null" >
        update_at = #{record.updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.articleNumber != null" >
        article_number = #{record.articleNumber,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update articletypesmanage
    set id = #{record.id,jdbcType=INTEGER},
      article_type = #{record.articleType,jdbcType=INTEGER},
      article_name = #{record.articleName,jdbcType=VARCHAR},
      create_at = #{record.createAt,jdbcType=TIMESTAMP},
      update_at = #{record.updateAt,jdbcType=TIMESTAMP},
      article_number = #{record.articleNumber,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="tsr.or.model.ArticleTypesManage" >
    update articletypesmanage
    <set >
      <if test="articleType != null" >
        article_type = #{articleType,jdbcType=INTEGER},
      </if>
      <if test="articleName != null" >
        article_name = #{articleName,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="articleNumber != null" >
        article_number = #{articleNumber,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="tsr.or.model.ArticleTypesManage" >
    update articletypesmanage
    set article_type = #{articleType,jdbcType=INTEGER},
      article_name = #{articleName,jdbcType=VARCHAR},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      update_at = #{updateAt,jdbcType=TIMESTAMP},
      article_number = #{articleNumber,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update> -->
  <sql id="Base_Column_List" >
    id, article_type, article_name, create_at, update_at, article_number
  </sql>  
  <insert id="insertArticleManage" parameterType="com.czz.hwy.bean.manager.ArticleTypesManage">
    insert into articletypesmanage (id, article_type, article_name, create_at, article_number)
    values (#{id,jdbcType=INTEGER}, #{articleType,jdbcType=INTEGER}, #{articleName,jdbcType=VARCHAR}, 
      #{createAt,jdbcType=TIMESTAMP}, #{articleNumber,jdbcType=INTEGER}) 
  </insert>
  <select id="getArticleManage" resultMap="BaseResultMap" parameterType="com.czz.hwy.bean.manager.ArticleTypesManage">
    select
      <include refid="Base_Column_List" />
    from articletypesmanage
    <where>
        <if test="articleType != 0">
            and article_type = #{articleType,jdbcType=INTEGER}
        </if>        
    </where>
    order by article_type asc
    limit #{row},#{rows}
  </select>
  <select id="getArticleManageCount" resultType="java.lang.Integer" parameterType="com.czz.hwy.bean.manager.ArticleTypesManage">
    select count(id) 
    from articletypesmanage 
    <where>
        <if test="articleType != 0">
            and article_type = #{articleType,jdbcType=INTEGER}
        </if>        
    </where>    
  </select>   
  <select id="selectArticleTypesManage" parameterType="com.czz.hwy.bean.manager.ArticleTypesManage" resultMap="BaseResultMap">
    select * from articletypesmanage where article_type = #{articleType,jdbcType=INTEGER}
  </select>
  <update id="updateArticleTypesManage" parameterType="com.czz.hwy.bean.manager.ArticleTypesManage">
    update articletypesmanage
    <set>
      <if test="articleNumber != 0" >
        article_number = #{articleNumber,jdbcType=INTEGER},
      </if>
      <if test="articleName != null and articleName !=''" >
        article_name = #{articleName,jdbcType=INTEGER},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=TIMESTAMP}
      </if>      
    </set>
    <where>
        <if test="articleType != 0">
            article_type = #{articleType,jdbcType=INTEGER}
        </if>
    </where>
  </update>  
  <delete id="deleteArticleTypesManage" parameterType="com.czz.hwy.bean.manager.ArticleTypesManage">
    delete from articletypesmanage
    <where>
        <if test="articleType != 0">
            article_type = #{articleType,jdbcType=INTEGER}
        </if>
    </where>
  </delete>
</mapper>