<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czz.hwy.bean.user.Employee" >
  <resultMap id="BaseResultMap" type="com.czz.hwy.bean.user.Employee" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="major" property="major" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="other" property="other" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, major, status, other, type, is_delete,create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from employee
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteEmployeeById" parameterType="java.lang.Integer" >
    delete from employee
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertEmployee" parameterType="com.czz.hwy.bean.user.Employee" >
  	<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
   	</selectKey>
        
    insert into employee (id, name, major, 
      status, other, type, is_delete,create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{major,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{other,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER},
      #{isDelete,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <select id="getEmployeeByBean" resultMap="BaseResultMap" parameterType="com.czz.hwy.bean.user.Employee">
    select  A.* from employee A 
    <where>
      <if test="id != 0" >
       and A.id=#{id,jdbcType=INTEGER}
      </if>
      <if test="name != null and name != ''" >
       and A.name=#{name,jdbcType=VARCHAR}
      </if>
      <if test="major != null and major != ''" >
       and A.major=#{major,jdbcType=VARCHAR}
      </if>
      <if test="status != 0" >
       and A.status=#{status,jdbcType=INTEGER}
      </if>
      <if test="other != null and other != ''" >
       and A.other=#{other,jdbcType=VARCHAR}
      </if>
      <if test="type != 0" >
       and A.type=#{type,jdbcType=INTEGER}
      </if>
      <if test="isDelete != 0" >
       and A.is_delete=#{isDelete,jdbcType=INTEGER}
      </if>      
      <if test="createTime != null" >
        and A.create_time=#{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null" >
       and  A.update_time=#{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  
  <update id="updateEmployee" parameterType="com.czz.hwy.bean.user.Employee" >
    update employee
    <set >
      <if test="name != null and name != ''" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="major != null and major != ''" >
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="other != null and other != ''" >
        other = #{other,jdbcType=VARCHAR},
      </if>
      <if test="type != 0" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="isDelete != 0" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update> 
  
  <update id="updateByPrimaryKeySelective" parameterType="com.czz.hwy.bean.user.Employee" >
    update employee
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="other != null" >
        other = #{other,jdbcType=VARCHAR},
      </if>
      <if test="type != 0" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="isDelete != 0" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.czz.hwy.bean.user.Employee" >
    update employee
    set name = #{name,jdbcType=VARCHAR},
      major = #{major,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      other = #{other,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>