<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czz.hwy.bean.area.EvalPoint" >
  <resultMap id="BaseResultMap" type="com.czz.hwy.bean.area.EvalPoint" >
    	<id column="id" property="id" jdbcType="INTEGER" />
	    <result column="id" 				property="id"                  jdbcType="INTEGER"/>
	    <result column="area_id" 			property="area_id"             jdbcType="INTEGER"/>
	    <result column="point_id" 			property="point_id"            jdbcType="INTEGER"/>
	    <result column="checkpoint_name" 	property="checkpoint_name"     jdbcType="VARCHAR"/>
	    <result column="checkpoint_address" property="checkpoint_address"  jdbcType="VARCHAR"/>
	    <result column="checkpoint_lat" 	property="checkpoint_lat"      jdbcType="DOUBLE"/>
	    <result column="checkpoint_lng" 	property="checkpoint_lng"      jdbcType="DOUBLE"/>
	    <result column="offset" 			property="offset"              jdbcType="DOUBLE"/>
	    <result column="checkpoint_order" 	property="checkpoint_order"    jdbcType="INTEGER"/>
	    <result column="isarray" 			property="isarray"             jdbcType="INTEGER"/>
	    <result column="ischeck" 			property="ischeck"             jdbcType="INTEGER"/>
	    <result column="stoptime" 			property="stoptime"            jdbcType="DOUBLE"/>
	    <result column="remain" 			property="remain"              jdbcType="VARCHAR"/>
	    <result column="create_at" 			property="create_at"           jdbcType="TIMESTAMP"/>
	    <result column="update_at" 			property="update_at"           jdbcType="TIMESTAMP"/>
	    <result column="create_id" 			property="create_id"           jdbcType="INTEGER"/>
	    <result column="update_id" 			property="update_id"           jdbcType="INTEGER"/>
	    <result column="status" 			property="status"              jdbcType="INTEGER"/>
	    <result column="file_id" 			property="file_id"              jdbcType="INTEGER"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id,area_id,point_id,checkpoint_name,checkpoint_address,checkpoint_lat,checkpoint_lng,
	offset,checkpoint_order,isarray,ischeck,stoptime,remain,create_at,update_at,
	create_id,update_id,status,file_id
  </sql>
  <select id="getEvalPointById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from evalpoint
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteEvalPoint" parameterType="java.lang.Integer" >
    delete from evalpoint
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertEvalPoint" parameterType="evalPoint" >
    insert into evalpoint (area_id,point_id,checkpoint_name,checkpoint_address,checkpoint_lat,checkpoint_lng,
		offset,checkpoint_order,isarray,ischeck,stoptime,remain,create_at,update_at,
		create_id,update_id,status,file_id)
    values (#{area_id},#{point_id},#{checkpoint_name},#{checkpoint_address},#{checkpoint_lat},#{checkpoint_lng},
	#{offset},#{checkpoint_order},#{isarray},#{ischeck},#{stoptime},#{remain},#{create_at},#{update_at},
	#{create_id},#{update_id},#{status},#{file_id})
  </insert>
  <insert id="insertSelective" parameterType="com.czz.hwy.bean.area.EvalPoint" >
    insert into evalpoint
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="areaId != null" >
        area_id,
      </if>
      <if test="pointId != null" >
        point_id,
      </if>
      <if test="checkAddress != null" >
        check_address,
      </if>
      <if test="checkLat != null" >
        check_lat,
      </if>
      <if test="checkLng != null" >
        check_lng,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="updateAt != null" >
        update_at,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="updateId != null" >
        update_id,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="pointId != null" >
        #{pointId,jdbcType=INTEGER},
      </if>
      <if test="checkAddress != null" >
        #{checkAddress,jdbcType=VARCHAR},
      </if>
      <if test="checkLat != null" >
        #{checkLat,jdbcType=DOUBLE},
      </if>
      <if test="checkLng != null" >
        #{checkLng,jdbcType=DOUBLE},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=INTEGER},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateEvalPoint" parameterType="com.czz.hwy.bean.area.EvalPoint" >
    update evalpoint
    <set >
      <if test="areaId != null" >
        area_id = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="pointId != null" >
        point_id = #{pointId,jdbcType=INTEGER},
      </if>
      <if test="checkAddress != null" >
        check_address = #{checkAddress,jdbcType=VARCHAR},
      </if>
      <if test="checkLat != null" >
        check_lat = #{checkLat,jdbcType=DOUBLE},
      </if>
      <if test="checkLng != null" >
        check_lng = #{checkLng,jdbcType=DOUBLE},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=INTEGER},
      </if>
      <if test="updateId != null" >
        update_id = #{updateId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.czz.hwy.bean.area.EvalPoint" >
    update evalpoint
    set area_id = #{areaId,jdbcType=INTEGER},
      point_id = #{pointId,jdbcType=INTEGER},
      check_address = #{checkAddress,jdbcType=VARCHAR},
      check_lat = #{checkLat,jdbcType=DOUBLE},
      check_lng = #{checkLng,jdbcType=DOUBLE},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      update_at = #{updateAt,jdbcType=TIMESTAMP},
      create_id = #{createId,jdbcType=INTEGER},
      update_id = #{updateId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 张纪才 删除考核点信息 -->
  <update id="deleteEvalPointGathers" parameterType="evalPoint">
  	update evalpoint set status=2 ,
		update_id=#{update_id} ,update_at=#{update_at}
		where area_id=#{area_id} and point_id=#{point_id} and file_id=#{file_id}
  </update>
  <!-- 张纪才 获取所有的考核点数据 -->
  <select id="getAllEvalPoint" resultMap="BaseResultMap">
  	select * from evalpoint where status=1
  </select>
</mapper>