<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czz.hwy.bean.user.watch.Users" >
  <resultMap id="BaseResultMap" type="com.czz.hwy.bean.user.watch.Users" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="showname" property="showname" jdbcType="VARCHAR" />
    <result column="employee_id" property="employeeId" jdbcType="INTEGER" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="gener" property="gener" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="dept_id" property="deptId" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
    <result column="dept_name" property="deptName" jdbcType="VARCHAR" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />   
    <result column="gener_name" property="generName" jdbcType="VARCHAR" />
    <result column="has_mobile" property="hasMobile" jdbcType="INTEGER" />    
    <result column="has_watch" property="hasWatch" jdbcType="INTEGER" />        
  </resultMap>
  <sql id="Base_Column_List" >
    id, showname, employee_id, password, email, tel, gener, address, id_card, dept_id, 
    role_id, status, flag, position, remark, create_at, update_at, has_mobile, has_watch
  </sql>
  
  <select id="getUserInfoByEmployeeIdWatch"  resultMap="BaseResultMap" parameterType="java.lang.Integer" >
      select <include refid="Base_Column_List" />
        from users
       where employee_id = #{employeeId} 
         and status = 1
  </select>
  
  <select id="getLoginUserWatch"  resultMap="BaseResultMap" parameterType="java.lang.String" >
      select A.id, A.showname, A.employee_id, A.password, A.email, A.tel, A.gener, A.address, A.id_card, A.dept_id, 
             A.role_id, A.status, A.flag, A.position, A.remark, A.create_at, A.update_at, A.has_mobile, A.has_watch
        from users A
       inner join binding_information B
          on A.employee_id = B.employee_id
       where B.device_id = #{deviceId}
         and A.status = 1
         and B.status = 1
  </select>
  
  <select id="getBindingUserByEmployeeIdWatch"  resultMap="BaseResultMap" parameterType="java.lang.Integer" >
      select A.id, A.showname, A.employee_id, A.password, A.email, A.tel, A.gener, A.address, A.id_card, A.dept_id, 
             A.role_id, A.status, A.flag, A.position, A.remark, A.create_at, A.update_at, A.has_mobile, A.has_watch
        from users A
       inner join binding_information B
          on A.employee_id = B.employee_id
       where A.employee_id = #{employeeId} 
         and A.status = 1
         and B.status = 1
  </select>
  
  <select id="getAllInfoByBeanWatch" resultMap="BaseResultMap" parameterType="com.czz.hwy.bean.user.watch.Users">
      select <include refid="Base_Column_List" /> from users 
     <where>
      <if test="id != 0" >
       and id=#{id,jdbcType=INTEGER}
      </if>
      <if test="showname != null" >
       and showname=#{showname,jdbcType=VARCHAR}
      </if>
      <if test="employeeId != 0" >
       and employee_id=#{employeeId,jdbcType=INTEGER}
      </if>
      <if test="password != null" >
       and password= #{password,jdbcType=VARCHAR}
      </if>
      <if test="email != null" >
       and email=#{email,jdbcType=VARCHAR}
      </if>
      <if test="tel != null" >
       and tel=#{tel,jdbcType=VARCHAR}
      </if>
      <if test="gener != 0" >
       and gener=#{gener,jdbcType=INTEGER}
      </if>
      <if test="address != null" >
       and address=#{address,jdbcType=VARCHAR}
      </if>
      <if test="idCard != null" >
        and id_card=#{idCard,jdbcType=VARCHAR}
      </if>
      <if test="deptId != 0" >
        and dept_id=#{deptId,jdbcType=INTEGER}
      </if>
      <if test="roleId != 0" >
        and role_id=#{roleId,jdbcType=INTEGER}
      </if>
      <if test="status != 0" >
        and status=#{status,jdbcType=INTEGER}
      </if>
      <if test="flag != 0" >
        and flag=#{flag,jdbcType=INTEGER}
      </if>
      <if test="position != null" >
        and position=#{position,jdbcType=VARCHAR}
      </if>
      <if test="remark != null" >
        and remark=#{remark,jdbcType=VARCHAR}
      </if>
      <if test="createAt != null" >
        and create_at=#{createAt,jdbcType=TIMESTAMP}
      </if>
      <if test="updateAt != null" >
       and  update_at=#{updateAt,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>    

  <update id="updateUserInfoWatch" parameterType="com.czz.hwy.bean.user.watch.Users" >
    update users
    <set >                        
      <if test="hasWatch != 0" >
        has_watch=#{hasWatch,jdbcType=INTEGER},
      </if>                 
      update_at = now()
    </set>
    where employee_id = #{employeeId,jdbcType=INTEGER}
      and status = 1
  </update>   
</mapper>