<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czz.hwy.bean.manager.watch.OneClickAlarm">
	<resultMap id="oneClickAlarmWatchBean" type="com.czz.hwy.bean.manager.watch.OneClickAlarmWatch">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="employee_id" property="employeeId" jdbcType="INTEGER" />
		<result column="employeeName" property="employeeName" jdbcType="VARCHAR" />
		<result column="lat" property="lat" jdbcType="DOUBLE" />
		<result column="lng" property="lng" jdbcType="DOUBLE" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="alarm_at" property="alarmAt" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<!-- 根据员工ID，查询出与其在同一责任区内的其他员工的topics（主题） -->
	<select id="getTopicsListByIdWatch" resultType="String" parameterType="com.czz.hwy.bean.manager.watch.OneClickAlarmWatch">
	select a.topics from subtopics a where EXISTS(
		select 1 from workplans t join workplans t1 on t.area_id = t1.area_id and t1.employee_id = #{employeeId,jdbcType=VARCHAR}
		where  t.employee_id != #{employeeId,jdbcType=VARCHAR} and  a.employee_id = t.employee_id)
	</select>
	
	<!-- 插入警报信息 -->
	<insert id="insertAlarmWatch" parameterType="com.czz.hwy.bean.manager.watch.OneClickAlarmWatch">
	insert into oneclickalarm(employee_id,lat,lng,address,alarm_at)
	values(
		#{employeeId,jdbcType=VARCHAR},
		#{lat,jdbcType=VARCHAR},
		#{lng,jdbcType=VARCHAR},
		#{address,jdbcType=VARCHAR},
		now()
	)
	</insert>
	
</mapper>